<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webapp/

    # Redirige toutes les requetes vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
